body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experiences-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.experiences-item{
    box-shadow: 10px 10px 50px gray;
    width: 40%;
    margin-left: 5%;
    margin-left: 5%;
    padding-left:20px;
    border-radius: 10px;
}
#web-bby-ex{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#web-dev-pro{
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}

